@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$agreeColor: #00A079;
$disagreeColor: #FA4344;
$questionBorderColor: #E5E5E5;
$barColor: #E9ECEF;
$barFilledColor: #A920CB;