@import '../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    >div:first-child {
        width: 95px;
    }
}

.bar {
    width: 218px;
    height: 15px;
    background-color: $barColor;
    border-radius: 3px;
    background: linear-gradient(90deg, $barFilledColor 50%, $barColor 50%);
}

.bar-container {
    width: 50%;


}

.invert {
    transform: scaleX(-1);
}